.menu-wrap {
    margin-left: 20px;
    display: flex;
    list-style: none;
    height: 64px;
    font-size: 15px;
    align-items: center;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
}

.menu-wrap li {
    margin-right: 20px;
    cursor: pointer;
}

.menu-wrap li:hover {
    color: blueviolet;
}

.menu-wrap li.active {
    color: blueviolet;
}

.sub-menu-wrap {
    position: relative;
    cursor: pointer;
}

.sub-menu-wrap:hover .sub-menu {
    opacity: 1;
    pointer-events: all;
}

.sub-menu {
    position: absolute;
    top: 100%;
    padding-top: 10px;
    opacity: 0;
    transition: all .3s ease;
    pointer-events: none;
    z-index: 100;
}

.sub-menu li {
    padding: 5px 15px;
    margin: 0;
}

.sub-menu li:hover {
    background-color: #f5f5f5;
}

.true-content {
    padding: 5px 0;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
