ul {
    margin-bottom: 0;
}
.menu-wrap {
    display: flex;
    list-style: none;
    height: 44px;
    font-size: 14px;
    align-items: center;
    & > li {
        margin-right: 50px;
        cursor: pointer;
        &:hover {
            color: blueviolet;
        }
        &.active {
            color: blueviolet;
        }
        @media screen and (max-width: 1200px) {
            margin-right: 0;
            border-bottom: 1px solid #e3e8ee;
            height: 60px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 32px;
        }
    }
    @media screen and (max-width: 1200px) {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        background: #fff;
        height: inherit;
        align-items: flex-start;
    }
}

.sub-menu-wrap {
    position: relative;
    cursor: pointer;
    display: flex;
    &:hover .sub-menu {
        opacity: 1;
        pointer-events: all;
        @media screen and (max-width: 1200px) {
            display: block;
        }
    }
    &:hover .arrow-icon {
        transform: rotate(-90deg);
    }
    & &-title {

        display: flex;
        align-items: center;
        margin-right: 50px;

        @media screen and (max-width: 1200px) {
            margin-right: 0;
            height: 60px;
            padding: 0 32px;
            border-bottom: 1px solid #e3e8ee;
        }
    }
    @media screen and (max-width: 1200px) {
        display: block;
        width: 100%;
    }
}

.sub-menu {
    position: absolute;
    top: 100%;
    padding-top: 12px;
    opacity: 0;
    transition: all .3s ease;
    pointer-events: none;
    z-index: 100;
    & li {
        padding: 5px 15px;
        margin: 0;
        &:hover {
            background-color: #f5f5f5;
        }
        @media screen and (max-width: 1200px) {
            padding: 5px 32px;
        }
    }
    @media screen and (max-width: 1200px) {
        position: static;
        opacity: 1;
        //display: none;
        height: 0;
        background: #f9f9f9;
        padding-top: 0;
    }
}

.true-content {
    padding: 5px 0;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    & > li:hover {
        color: blueviolet;
    }
    @media screen and (max-width: 1200px) {
        box-shadow: none;
        background: #f9f9f9;
    }
}

.arrow-icon {
    width: 10px;
    margin-left: 3px;
    transform: rotate(90deg);
    transition: transform .3s ease;
}