$bg-color: saddlebrown;
.a-wrap {
  height: 200px;
  background: $bg-color;
  &:hover {
    background: #000;
  }
}

.b-wrap {
  @extend .a-wrap;
  color: white;
}

@mixin wrap {
  background: blueviolet;
  height: 100px;
  &:hover {
    background: red;
  }
}

.c-wrap {
  @include wrap;
  color: #61dafb;
}

.d-wrap {
  @include wrap;
  color: #000;
}