* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 50;
  @media screen and (max-width: 1200px) {
   // display: none;
  }
}

.content.wrap {
  margin-top: 44px;
}

.welcome-title {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blueviolet;

  & h1 {
    color: white;
    font-size: calc(10px + 2vmin);
  }
}

.second {
  background: #ff7f50;
}

.logo {
  width: 20px;
  margin-right: 10px;
  color: blueviolet;
}

.name {
  color: blueviolet;
  margin-right: 100px;
  font-weight: bold;
  @media screen and (max-width: 1200px) {
    margin-right: 0;
  }
}